<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Blog Pythonowy</title>
</head>
<body>
<div>
    <h1>Hello my friend</h1>
    <h2>Blog about coding in Python and Django</h2>
</div>
<div>
    <p>Here is information about me. LOrem ipsum bla bla bla</p>
    <p>Second paraghrap</p>
    <em>em tag has been used here</em><br>
    <strong>strong keywaord is herer</strong>
    <a href="https://google.com">google is here</a>
</div>
<div>
    <ul>
        <li>Element listy</li>
        <li>Element listy</li>
        <li>Element listy</li>
        <li>Element listy</li>
    </ul>
</div>

</body>
</html>